.card-body {
    width: 230px;
    height: 300px;
    padding: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.164);
    margin: 15px;
}

.card-img {
    width: 210px;
    height: 120px;
}

.card-explain {
    width: 210px;
    height: 120px;
    padding: 15px;
}

.card-btn-div {
    width: 210px;
    height: 70px;
}

h3, h5, p {
    margin: 0;
}