<h2 style="text-align: center; margin: 20px;">{{nameFromURL | uppercase}}</h2>
<div style="padding: 20px; display: flex;">
    <div style="flex-grow: 1; height: 400px; box-shadow: 0 0 10px 10px rgba(0,0,0,0.1); padding: 15px;">
        <img src="" alt="productImg">
    </div>
    <div style="flex-grow: 1; height: 400px; padding: 35px;">
        <h4>About</h4>
        <p>
            sdfsdfsdfdsfdsfsdfdsf
        </p>
        <div>
            <span class="star-span"></span>
            <span class="star-span"></span>
            <span class="star-span"></span>
            <span class="star-span"></span>
            <span class="star-span"></span>
        </div>
    </div>
</div>